Query:
  type: object
  config:
    description: "FarmersMarket ORM repository"
    fields:
      farm:
        type: "Farm"
        args:
          id:
            type: "Uuid"
        resolve: "@=resolver('Farm', [args])"
      farms:
        type: "[Farm]"
        args:
          location:
            type: "GeoPointInput"
        resolve: "@=resolver('Farms', [args])"
      me:
        type: "Farmer"
        resolve: "@=resolver('Profile', [args])"
        access: '@=isAuthenticated()'

Mutation:
  type: object
  config:
    fields:
      singleUpload:
        type: UploadedFile!
        resolve: "@=mutation('upload_image', [args['file']])"
        args:
          file:
            type: ImageUpload!
          farmId:
            type: String!

      updateFarmPreviewImage:
        type: UploadedFile!
        resolve: "@=mutation('update_farm_preview_image', [args['farmId'], args['file']])"
        args:
          file:
            type: ImageUpload!
          farmId:
            type: String!

      multipleUpload:
        type: '[UploadedFile!]'
        resolve: '@=[args["files"][0].getBasename(), args["files"][1].getBasename()]'
        args:
          files: '[ImageUpload!]!'